Java code/NEATBIN/wsit-domain.imp.AccountManagerDelegate.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AccountManagerService" targetNamespace="http%3A%2F%2Fimp.domain%2F" xmlns:tns="http%3A%2F%2Fimp.domain%2F" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512" 
 >
    <message name="login"/>
    <message name="loginResponse"/>
    <message name="changepin"/>
    <message name="changepinResponse"/>
    <message name="querybalance"/>
    <message name="querybalanceResponse"/>
    <message name="fetch"/>
    <message name="fetchResponse"/>
    <message name="deposit"/>
    <message name="depositResponse"/>
    <portType name="AccountManagerDelegate">
        <operation name="login">
            <input message="tns:login"/>
            <output message="tns:loginResponse"/>
        </operation>
        <operation name="changepin">
            <input message="tns:changepin"/>
            <output message="tns:changepinResponse"/>
        </operation>
        <operation name="querybalance">
            <input message="tns:querybalance"/>
            <output message="tns:querybalanceResponse"/>
        </operation>
        <operation name="fetch">
            <input message="tns:fetch"/>
            <output message="tns:fetchResponse"/>
        </operation>
        <operation name="deposit">
            <input message="tns:deposit"/>
            <output message="tns:depositResponse"/>
        </operation>
    </portType>
    <binding name="AccountManagerPortBinding" type="tns:AccountManagerDelegate">
        <wsp:PolicyReference URI="#AccountManagerPortBindingPolicy"/>
        <operation name="login">
            <input>
                <wsp:PolicyReference URI="#AccountManagerPortBinding_login_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AccountManagerPortBinding_login_Output_Policy"/>
            </output>
        </operation>
        <operation name="changepin">
            <input>
                <wsp:PolicyReference URI="#AccountManagerPortBinding_login_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AccountManagerPortBinding_login_Output_Policy"/>
            </output>
        </operation>
        <operation name="querybalance">
            <input>
                <wsp:PolicyReference URI="#AccountManagerPortBinding_login_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AccountManagerPortBinding_login_Output_Policy"/>
            </output>
        </operation>
        <operation name="fetch">
            <input>
                <wsp:PolicyReference URI="#AccountManagerPortBinding_login_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AccountManagerPortBinding_login_Output_Policy"/>
            </output>
        </operation>
        <operation name="deposit">
            <input>
                <wsp:PolicyReference URI="#AccountManagerPortBinding_login_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#AccountManagerPortBinding_login_Output_Policy"/>
            </output>
        </operation>
    </binding>
    <service name="AccountManagerService">
        <port name="AccountManagerPort" binding="tns:AccountManagerPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="AccountManagerPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsam:Addressing/>
                <sc:KeyStore wspp:visibility="private" location="/Users/wenchaowang/Desktop/key/ser.jks" type="JKS" storepass="123456" alias="aaa"/>
                <sc:TrustStore wspp:visibility="private" storepass="xfYT0601" type="JKS" location="/Users/wenchaowang/Desktop/key/cli.jks"/>
                <sp:AsymmetricBinding>
                    <wsp:Policy>
                        <sp:InitiatorToken>
                            <wsp:Policy>
                                <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                                    <wsp:Policy>
                                        <sp:WssX509V3Token10/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:InitiatorToken>
                        <sp:RecipientToken>
                            <wsp:Policy>
                                <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                                    <wsp:Policy>
                                        <sp:WssX509V3Token10/>
                                        <sp:RequireIssuerSerialReference/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:RecipientToken>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                        <sp:OnlySignEntireHeadersAndBody/>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                    </wsp:Policy>
                </sp:AsymmetricBinding>
                <sp:Wss10>
                    <wsp:Policy>
                        <sp:MustSupportRefIssuerSerial/>
                    </wsp:Policy>
                </sp:Wss10>
                <tcp:OptimizedTCPTransport enabled="true"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="AccountManagerPortBinding_login_Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                </sp:SignedParts>
                <sp:EncryptedSupportingTokens>
                    <wsp:Policy>
                        <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssX509V3Token10/>
                            </wsp:Policy>
                        </sp:X509Token>
                    </wsp:Policy>
                </sp:EncryptedSupportingTokens>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="AccountManagerPortBinding_login_Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
